---
layout: default
---

{% for post in site.posts %}
  <div class="row">
    <div class="col-md-12">
      <h2>
<!--         <span class="glyphicon glyphicon-search pull-left" aria-hidden="true"></span> -->
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </div>

    <div class="col-md-12">
      <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
    </div>

    <div class="col-md-12">
      {{ post.content }}
    </div>

  </div>
{% endfor %}


<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
